{
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": "off",
    "semi": "error",
    "no-await-in-loop": "warn",
    "no-console": "warn",
    "no-loss-of-precision": "error",
    "no-unsafe-optional-chaining": "error"
  }
}
